<!DOCTYPE html>
<html>

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin-style.css">
    {{!-- <link rel="stylesheet" href="/css/cc-style.css"> --}}
</head>

<body>
    <div class='nav-bar'>
        <form method="post" action="/logout" id='nav-form'>
            <button type="submit" value="submit" class='nav-button'>Logout</button>
        </form>
        <form>
            <button type="submit" class='nav-button' value="submit" formaction="/admin/newItemRequests">New Item
                Requests</button>
        </form>
        <form method="post" id='nav-form'>
            <button type="submit" class='nav-button' value="submit" formaction="/admin/handleRequests">Handle Requests</button>
        </form>
    </div>
    <h1 id="category-page-heading">Inventory</h1>
    <div class="search-bar-container">
        <input type="text" class="search-bar" placeholder="Search...">
    </div>
    <div class="table-container">
        <table id="table">
            <tr id="table-header">
                <td>Item</td>
                <td>Quantity</td>
                <td>Description</td>
            </tr></br>
            {{#each result}}
            <tr class="item-row">
                <td class="item-name"><a href="#">{{item_name}}</a></td>
                <td>{{quantity}}</td>
                <td>{{description}}</td>
            </tr>
            {{/each}}
        </table>
    </div>

    <div class="admin-show-add-items">
        <a class='ad-addItem' href="">Add Item</a>
        <a class='ad-updateItem' href="">Update Item</a>
    </div>

    <div class='show-upd-add'>
        <form method="POST" action="/admin/addItem" class='ad-addItemForm'>
            Item: <input class="itemName" type="text"  name="item_name" required\>
            Quantity: <input type="number" name="quantity" required\>
            Description: <input type="text" name="description">
            <button type="submit" class='sBtn' value="submit">Add Item</button>
        </form>

        <form method="POST" action="/admin/update" class='ad-updateItemForm'>
            Item: <input class="itemName" type="text" name="item_name"  required\>
            Updated Quantity: <input type="number" name="quantity" required\>
            <button class='sBtn' type="submit" value="submit">Update Item</button>
        </form>
    </div>

    <script src="/js/admin.js"></script>
</body>

</html>