<html>

<head>
    <title>Faculty Advisor</title>
    <link rel="stylesheet" href="/css/cc-style.css">
    <script src="https://kit.fontawesome.com/ceae807de5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class='nav-bar-1'>
        <form method="post" action="/logout" id='nav-form'>
            <button type="submit" value="submit" class='nav-button'>Logout</button>
        </form>
    </div>
    <h1 id="category-page-heading">Requests</h1>
    <form method="post" class="form-container">
        <div class="table-container">
            <table id="table">
                <tr id="table-header">
                    <td>Category</td>
                    <td>Item</td>
                    <td>Required</td>
                    <td>Available</td>
                    <td>Description</td>
                    <td>Action</td>
                </tr></br>

                {{#each request}}

                <tr>
                    <td>{{category}}</td>
                    <td>{{item_name}}</td>
                    <td>{{reqd_quantity}}</td>
                    <td>{{quantity}}</td>
                    <td>{{description}}</td>
                    <td>
                        <div class='action-buttons'>
                            <button type="submit" name="approve" value={{order_id}}
                                formaction="/faculty/approve" class='fa-button'><i class="fas fa-check-circle"></i></button>
                            <button type="submit" name="disapprove" value={{order_id}}
                                formaction="/faculty/disapprove" class='fa-button'><i class="fas fa-times-circle"></i></button>
                        </div>
                    </td>
                </tr>
                {{/each}}

                {{#each newRequest}}

                <tr>
                    <td>{{category}}</td>
                    <td>{{item}}</td>
                    <td>{{quantity}}</td>
                    <td>N/A</td>
                    <td>{{description}}</td>
                    <td>
                        <div class='action-buttons'>
                            <button class='fa-button' type="submit" name="newApprove" value={{req_id}}
                                formaction="/faculty/approve">
                                <i class="fas fa-check-circle"></i>
                            </button>
                            <button class='fa-button' type="submit" name="newDisapprove" value={{req_id}}
                                formaction="/faculty/disapprove"><i class="fas fa-times-circle"></i></button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </table>
    </form>
    </div>
    <script src="/css/category.js"></script>
</body>

</html>