<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="/css/fp-styles.css">
        <title>Forgot Password</title>
    </head>

    <body>
        <h1 id="category-page-heading">Forgot Password</h1>
        <div class="form">
            <form id="rForm" action="/passwordreset" method="POST">
            <div class="enter-mail">
                <input class="mailText" type="email" name="email" value="" placeholder="Enter your email address..." />
            </div>
            <div class="submit-btn"> 
                <input class="submitButton" type="submit" value="Reset Password" />
            </div>
            </form>
        </div>
    </body>
</html>