<html>
    <head>
        <title>Handle Requests</title>
        <link rel="stylesheet" href="/css/cc-style.css">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <script src="https://kit.fontawesome.com/ceae807de5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="fbtn">
            <form method="GET" action="/admin">
            <button class="fa-button" style="float: left;" type="submit" value="submit"><i class="fas fa-arrow-circle-left w3-xlarge"></i></button>
        </form>
        </div>
        <h1 id="category-page-heading">Handle Requests</h1>
        <form method="post" class="form-container">
            <div class="table-container">
                <table id="table">
                    <tr id="table-header">
                        <td>Category</td>
                        <td>Item</td>
                        <td>Required</td>
                        <td>Available</td>
                        <td>Description</td>
                        <td>Approved Quantity</td>
                        <td>Action</td>
                    </tr></br>

                    {{#each result}}

                    <tr>
                        <td>{{category}}</td>
                        <td>{{item_name}}</td>
                        <td>{{reqd_quantity}}</td>
                        <td>{{quantity}}</td>
                        <td>{{description}}</td>
                        <td><input type="number" name={{order_id}}></td>
                        <td>
                            <div class='action-buttons'>
                            <button type="submit" name="approve" value={{order_id}} formaction="/admin/approve" class='fa-button'><i class="fas fa-check-circle"></i></button>
                            
                            <button type="submit" name="disapprove" value={{order_id}} formaction="/admin/disapprove" class='fa-button'><i class="fas fa-times-circle"></i></button>
                            </div>
                        </td> 
                    </tr>
                    {{/each}}
                </table>
        </form>
        </div>
        <script src="/js/category.js"></script>
    </body>
</html>