<!DOCTYPE html>
<html>

<head>
    <title>Category Page</title>
    <link rel="stylesheet" href="/css/cc-style.css">
</head>

<body>
    <div class='nav-bar'>
        <form method="post" action="/logout" id='nav-form'>
            <button type="submit" value="submit" class='nav-button'>Logout</button>
        </form>
        <form method="post" id='nav-form' action="/category/requestHistory">
            <button type="submit" class='nav-button' value="submit">Request History</button>
        </form>
    </div>
    <h1 id="category-page-heading">Hello, {{name}}</h1>
    <div class="search-bar-container">
            <input type="text" class="search-bar" placeholder="Search...">
    </div>
    <form method="post" action="/request">
        <div class="table-container">
            
            <table id="table">
                <tbody class="product-options">
                   
                    <tr id="table-header">
                        <td>Select</td>
                        <td>Item</td>
                        <td>Description</td>
                    </tr>
                    
                    {{#each items}}
                    <tr class="item-row">
                        <td> <input type="radio" class="select" name="item_id" value={{item_id}}></td>
                        <td class="item-name"><a href="#">{{item_name}}</a></td>
                        <td>{{description}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class='submit-query'>
            <input type="number" name="quantityreq" placeholder="Enter quantity...">
            <input type="submit" name="submit" class='sqBtn' value="Submit">
        </div>
    </form>
    </br>
    <div class="show-add-items">
        <a href="">Required item not present in table?</a>
    </div>
    <div class="show-add-items-form">
        <form method="post" action="/newItemRequest" class="add-item">
            Name: <input class="itemName" type="text" name="name" required /> 
            Quantity: <input type="number" name="newItemQuantity" required />
            Description: <input type="text" name="desc" required />
            <input type="submit" class='sBtn' value="Submit">
        </form>
    </div>

    <script src="/js/cc.js"></script>
</body>

</html>