<html>
    <head>
        <title>New Item Requests</title>
        <link rel="stylesheet" href="/css/new-requests-style.css">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <script src="https://kit.fontawesome.com/ceae807de5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="fbtn">
            <form method="GET" action="/admin">
            <button class="fa-button" style="float: left;" type="submit" value="submit"><i class="fas fa-arrow-circle-left w3-xlarge"></i></button>
        </form>
        </div>
        <h1 id="category-page-heading">New Item Requests</h1>
        <div class="table-container">
            <form method="post" class="form-container">
                <table id="table">
                    <tr id="table-header">
                        <td>Category</td>
                        <td>Item</td>
                        <td>Quantity</td>
                        <td>Description</td>
                        <td>Action</td>
                    </tr></br>
                    
                    {{#each result}}

                    <tr>
                        <td>{{category}}</td>
                        <td>{{item}}</td>
                        <td>{{quantity}}</td>
                        <td>{{description}}</td>
                        <td>
                            <button type="submit" name="added" value={{req_id}} formaction="/admin/itemAdded">Item added!</button>
                            <button type="submit" name="removed" value={{req_id}} formaction="/admin/itemRemoved">Remove</button>
                        </td> 
                    </tr>
                    {{/each}}
                </table>
            </div>
        </form>
        <script src="/js/category.js"></script>
</body>
</html>  