<!DOCTYPE html>
<html>
<head>
    <title>Request History</title>
    <link rel="stylesheet" href="/css/cc-style.css">
</head>
<body>      
    <div class="table-container">
        <table id="table">
            <tr id="table-header">
                <td>Name</td>
                <td>Quantity</td>
                <td>Status</td>
            </tr></br>

            {{#each result}}

            <tr>
                <td>{{item_name}}</td>
                <td>{{reqd_quantity}}</td>
                <td>{{status}}</td>
            </tr>
            {{/each}}

            {{#each result1}}
            <tr>
                <td>{{item}}</td>
                <td>{{quantity}}</td>
                <td>{{status}}</td>
            </tr>
            {{/each}}

        </table>

    </div>
    
    <script src="/js/category.js"></script>
</body>
</html>