<html>
<<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="/css/reset-pass.css">
        <title>Reset Password</title>
    </head>

    <body>
        <h1 id="category-page-heading">Change Password</h1>
        <div class="form">
            <form id="rForm" action="/resetpassword" method="POST">
            <input type="hidden" name="id" value={{payloadId}} />
            <input type="hidden" name="token" value={{token}} />
            <div class="enter-pass">
                <input type="password" name="password" size="30" value="" placeholder="Enter your new password..." />
            </div>
            <div class="confirm-pass">
                <input type="password" name="confirm" size="30" value="" placeholder="Confirm password...">
            </div>
            <div class="submit-btn">
                <input type="submit" value="Reset Password" />
            </div>
            
        </form>
        </div>
    </body>
</html>