@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
* {
    font-family: 'Sulphur Point', sans-serif;
}

body{
    margin: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    font-size: 120%;
}

.nav-bar {
    display: flex;
    justify-content: right;
    /* flex-direction: row; changed from row to row reverse */
    flex-direction: row-reverse;
    background-color: #333;
    /* border-radius: 25px; */
    /* margin: 5px; */
    padding: 5px 5px 5px 5px;
    /* padding: 10px; */
}

.nav-button:hover {
    /* background-color: rgb(236, 232, 232); */
    color: DeepSkyBlue;
    border: none;
    /* background-color: #333; */
    font-size: 135%;
    height: 15px;
    padding: 0px 10px 10px 10px;
}

.nav-button {
    border: none;
    background-color: #333;
    color: white;
    font-size: 135%;
    height: 15px;
    padding: 0px 10px 10px 10px;
    /* padding: 10px; */
}

#nav-form {
    margin: unset;
}

#category-page-heading {
    font-size: 250%;
    text-align: center;
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 5% 0 5% 10%;
    width: 80%;
    height: 400px;
    overflow-y: auto;
    position: relative;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 100%;
    /* color: white; */
} 

th,
td {
    /* border-collapse: collapse; */
    padding: 15px 50px 15px 80px;
    text-align: center;
}

#table-header {
    background-color: rgb(162, 2, 255);
    color:white;
    position: relative;
    top: 0px;
    /* background-color: rgb(0, 217, 212); */
}

.text-box {
    overflow: scroll;
    height: auto;
    width: auto;
    margin: 0 0 0 23px;
}

.admin-show-add-items {
    display: flex;
    justify-content: center;
    /* background: rgb(162, 2, 255); */
    /* border-radius: 25px; */
    margin: 15px;
    /* width: 20% */
}

.ad-addItem {
    width: 15%;
    border-radius: 25px 0px 0px 25px;
}

.ad-updateItem {
    width: 15%;
    border-radius: 0px 25px 25px 0px;
}

.link {
    display: flex;
    justify-content: center;
}

a:link,
a:visited {
    background-color: rgb(162, 2, 255);
    color: white;
    font-size: 150%;
    padding: 8px 3px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
}

a:hover,
a:active {
    font-size: 150%;
    background-color: rgb(2, 48, 255);
}

.show-upd-add {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;
}

.ad-addItemForm,
.ad-updateItemForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    font-size: 120%;
}

input {
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    /* border-radius: 15px; */
}

input:focus {
    border: 3px solid #555;
}

.sBtn {
    width: 120px;
    height: 35px;
    margin-left: 25%;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 3px solid #ccc;
    /* border-radius: 25px; */
}

.sqBtn {
    width: 150px;
    height: 45px;
    margin-left: 15px;
    border-radius: 25px;
}

button.sqBtn:hover,
button.sqBtn:focus {
    outline: none;
    background: #000;
    color: #FFF;
}

button.sBtn:hover,
button.sBtn:focus {
    outline: none;
    background: #000;
    color: #FFF;
}


.search-bar {
    width: 60%;
    height: 5%;
    margin: 8% 0 10px 0;
    border-radius: 5px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

.item-name > a {
    text-decoration: none;
    border: none;
    color: black;
    background-color: unset
}