@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
* {
    font-family: 'Sulphur Point', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    font-size: 120%;
}

#category-page-heading {
    font-size: 250%;
    padding-top: 150px;
    text-align: center;
}

.form {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.enter-mail {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    /* flex-direction: column; */
}

#rForm {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.submit-btn {
    /* display: flex;
    justify-content: center; */
    margin-left: 15px;
    /* margin: 20% 50% 10% 50%; */
}

/* .submit-btn>input {
    text-decoration: none;
    background-color: rgb(162, 2, 255);
    padding: 5px 15px;
    font-size: 10%;
    color: white;
    border-radius: 9px;
} */

.submit-btn>a:hover {
    color: white;
    background-color: rgb(2, 48, 255);
}

.mailText{
    width: 275px;
    height: 30px;
    padding-left: 5px;
}

.submitButton{
    text-decoration: none;
    background-color: rgb(162, 2, 255);
    padding: 5px 15px;
    font-size: 105%;
    color: white;
    border-radius: 9px;
} 