@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
* {
    font-family: 'Sulphur Point', sans-serif;
}

body{
    margin: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    font-size: 120%;
}

.nav-bar {
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    background-color: #333;
    /* border-radius: 25px;
    margin: 5px; */
    padding: 5px 5px 5px 5px;
    /* padding: 10px; */
}

.nav-bar-1 {
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    background-color: #333;
    /* border-radius: 25px;
    margin: 5px; */
    padding: 5px 5px 17px 5px;
    /* padding: 10px; */
}

.nav-button:hover {
    /* background-color: rgb(236, 232, 232); */
    color: DeepSkyBlue;
    border: none;
    /* background-color: #333; */
    font-size: 135%;
    height: 15px;
    padding: 0px 10px 10px 10px;
}

.nav-button {
    border: none;
    background-color: #333;
    color: white;
    font-size: 135%;
    height: 15px;
    padding: 0px 10px 10px 10px;
    /* padding: 10px; */
}

.fa-button {
    border: none;
    background-color: unset;
}

/* .fbtn{
    display: flex;
    justify-content: left;
} */

.icon {
    font-weight: 900;
}

#nav-form {
    margin: unset;
}


/* .nav-bar button:hover {
    background-color: #ddd;
} */

.action-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: wrap;
    /* border: none; */
}

#category-page-heading {
    font-size: 250%;
    text-align: center;
}

.show-add-items {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.show-add-items-form {
    display: flex;
    justify-content: center;
    transition: 0.5s smooth;
    -moz-transition: 0.5s;
    /* flex-direction: column; */
    width: 100%;
}

.add-item {
    display: flex;
    transition: 0.5s smooth;
    -moz-transition: 0.5s;
    /* justify-content: center; */
    flex-direction: column;
    width: 20%;
    font-size: 100%;
}

.link {
    display: flex;
    justify-content: center;
}

a:link,
a:visited {
    background-color: rgb(162, 2, 255);
    border-radius: 25px;
    color: white;
    font-size: 120%;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* a:hover,
a:active {
    font-size: 125%;
    border-radius: 25px;
    background-color: rgb(2, 48, 255);
} */

input {
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    /* border-radius: 15px; */
}

input:focus {
    border: 3px solid #555;
}

.add-items-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hist {
    /* background-color: rgb(0, 217, 212); */
    color: white;
    font-size: 125%;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 5% 0 5% 5%;
    width: auto;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 100%;
}

th,
td {
    /* border-collapse: collapse; */
    padding: 15px 50px 15px 50px;
    text-align: center;
}

.submit-query {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

tr.selected {
    background: #ddd;
}

#table-header {
    background-color: rgb(162, 2, 255);
    color: white;
    position: relative;
    top: 0px;
    /* background-color: rgb(0, 217, 212); */
}


.text-box {
    overflow: scroll;
    height: auto;
    width: auto;
    margin: 0 0 0 23px;
}

.sBtn {
    width: 100px;
    height: 35px;
    margin-left: 25%;
    /* border-radius: 25px; */
} 

.sqBtn {
    width: 100px;
    height: 35px;
    margin-left: 10px;
    /* border-radius: 25px; */
}

input.sqBtn:hover,
input.sqBtn:focus {
    outline: none;
    background: #000;
    color: #FFF;
}

input.sBtn:hover,
input.sBtn:focus {
    outline: none;
    background: #000;
    color: #FFF;
}

.request-history {
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 60%;
    height: 5%;
    margin: 8% 0 10px 0;
    border-radius: 5px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

.item-name > a {
    text-decoration: none;
    border: none;
    color: black;
    background-color: unset
}