@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
* {
    font-family: 'Sulphur Point', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    font-size: 120%;
}

#category-page-heading {
    font-size: 250%;
    padding-top: 150px;
    text-align: center;
}

.form {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#rForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.enter-pass {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    /* flex-direction: column; */
}

.confirm-pass {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    /* flex-direction: column; */
}

.submit-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    /* margin: 20% 50% 10% 50%; */
}

.submit-btn>input {
    text-decoration: none;
    background-color: rgb(162, 2, 255);
    padding: 5px 15px;
    font-size: 105%;
    color: white;
    border-radius: 9px;
}

.submit-btn>a:hover {
    color: white;
    background-color: rgb(2, 48, 255);
}